@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background: linear-gradient(to left, #030225, #09475a)
}

.cursor {
    cursor: pointer;
}

.my-x-cursor {
    cursor: pointer;
    color: white;
    background-color: #030225;
}

.my-x-cursor:hover {
    background-color: rgb(68, 68, 68);
    transition: 0.3s;
}

.cursor:hover {
    font-weight: 500;
    transition: 0.2s linear;
}

.my-sm-img {
    width: 22px;
}

.my-btn-share {
    position: relative;
    left: 3px;
    bottom: 8px;
}

.mi-youtube-img {
    width: 30px;
    margin-left: 9px;
    margin-right: 9px;
}

.my-btn-hover {
    background-color: white;
    border-radius: 3rem;
    width: 30%;
    border: none;
    border: 2px solid white;
    margin-top: 16px;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    display: block;
}

.my-btn-hover:hover {
    border: 2px solid white;
    background: transparent;
    color: white;
    transition: 0.3s linear;
}

.support {
    background-color: white;
    border-radius: 3rem;
    width: 30%;
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
    border: 2px solid white;
    margin-top: 16px;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    cursor: default;
}


@media (max-width: 900px) {
    .my-btn-hover img {
        display: none;
    }

    .my-btn-hover {
        width: 89%;
        border-radius: 3rem;
    }

    .support {
        border-radius: 3rem;
        width: 89%;
    }

    .youtube {
        background-color: #F61C0D;
        border-color: #F61C0D;
        color: white;
        border-radius: 3rem;
        box-shadow: 0 3px 4px #5b5b5b;
    }

    .instagram {
        background: #d6249f;
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
        color: white;
        border-radius: 3rem;
        border-image-slice: 1;
        border-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    }

    .Discord {
        background-color: #5865F2;
        color: white;
        border: #5865F2;
        border-radius: 3rem;
    }

}

@media (max-width:1200px) {
    * {
        font-size: 13px;
    }

    .my-btn-hover {
        width: 69%;
        border-radius: 3rem;
    }

    .support {
        width: 69%;
        border-radius: 3rem;
    }
}

@media (max-width: 768px) {}

.hiding-con button {
    width: 100%;
    height: 70%;
    background-color: white;
    border: 2px solid blue;
}

.hiding-con img {
    width: 44px;
}

.hiding-con .align span {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 10px;
}

.pop-out {
    position: fixed;
    top: 50%;
    /* Start from the middle of the viewport */
    left: 50%;
    /* Start from the middle of the viewport */
    transform: translate(-50%, -50%);
    /* Adjust the position so the center of the element aligns with the center of the viewport */
    height: 0;
    /* Take up the full height of the viewport */
    width: 0;
    /* Set the width as needed */
    display: none;
    transition: opacity 0.5s linear, visibility 0.5s linear, width 0.5s linear, height 0.5s linear;
    overflow-x: hidden;
    background: linear-gradient(to top, #030225, #09475a);
    color: white;
}

.pop-out span {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}