@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Jersey+20+Charted&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

.width {
    margin: 0 auto;
    width: 76%;
    padding-left: 12px;
    display: flex;
    justify-content: space-between;
}

img {
    max-width: 100%;
}

header {
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    position: fixed;
    padding: 6px;
    background-image: linear-gradient(to right, #000000, darkblue);
}

.block-in {
    display: inline-block;
    width: 330px;
    margin-left: 55px;
    border-radius: 12px;
}

.block-in button {
    background: none;
    transition: 0.2s;
    color: white;
}

.internal-header-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 4px;
}

.width a {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 19px;
    border-radius: 12%;
    position: relative;
    top: 9px;
    color: #1E91B3;
    margin-left: 64px;
}



.width a:hover {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.internal-header-div img {
    width: 50px;
    border: 3px solid white;
    padding: 3px;
    border-radius: 50%;
    margin-left: 12px;
}

.internal-header-div ul {
    display: inline-block;
}

#section-one {
    height: 100%;
    background-image: url();
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 28px;
    width: 100%;

}

.white-friend img {
    border-radius: 50px;
}

.cover {
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.595);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.cover h1 {
    background: linear-gradient(to right, #000000, darkblue);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 145px;
}

.stickey {
    width: 70px;
    position: fixed;
    bottom: 4px;
    right: 7px;
    border: 3px solid white;
    padding: 4px;
    border-radius: 19px;
    cursor: pointer;
}

.stickey:hover {
    border: 3px solid;
    transition: 0.3s linear;
    padding: 3px;
    width: 80px;
    background: linear-gradient(to right, #000000, darkblue);
}

.dani-div {
    width: 100%;
}

.dani-div img {
    border-radius: 50%;
}

.dani-div h1 {
    background: linear-gradient(to right, #030058, darkblue);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 85px;
}

.some-text {
    width: 45%;
    text-align: justify;
}

.some-text h3 {
    color: white;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 25px;
}


.section-cool-con {
    justify-content: space-around;
    display: flex;
    background: linear-gradient(to right, #030058, #000000, #1E91B3);
}

.circle {
    border-radius: 50%;
    margin: 0 auto;
    width: 140px;
}

.text-center {
    color: white;
}

.contact {
    margin-top: 0;
    position: relative;
    bottom: 42px;
    background: linear-gradient(to right, #030058, #000000, #1E91B3);
}

.contact {
    color: white;
    font-size: 25px;
    padding: 19px;
    display: flex;
}




.x-y-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont {
    height: 149px;
}

.cdn {
    border-radius: 50%;
    border: 3px solid white;
}

.donate input[type=text] {
    font-size: 19px;
    width: 215px;
    padding: 9px;
    border: 2px solid white;
    outline: none;
    border-radius: 7px;
    color: white;
    background: none;
}

.donate input {
    font-size: 19px;
    width: 465px;
    padding: 9px;
    border: 2px solid white;
    outline: none;
    border-radius: 7px;
    color: white;
    background: none;
}

.donate {
    padding: 19px;
    margin-top: 19px;
    width: 100%;
    border: 2px solid white;
    width: 590px;
    height: 59vh;
    border-radius: 12px;
    background-image: url(cdn.png);
    background-size: 100%;
}

.donate ::placeholder {
    color: white;
}

.donate input[type=text]::placeholder {
    color: white;
}

.don-flex {
    display: flex;
    justify-content: center;
}

.don-flex input {
    margin-right: 13px;
}

.donate input[type=email] {
    width: 465px;
    font-size: 19px;
    padding: 9px;
    border: 2px solid white;
    outline: none;
    border-radius: 7px;
    color: white;
    background: none;
}

.donate input[type=email]::placeholder {
    color: white;
}

.btn-my {
    background: none;
    width: 465px;
    border-radius: 7px;
    padding: 5px;
    border: 2px solid white;
    font-size: 17px;
}

.btn-my:hover {
    background-color: #fff;
    color: #070707;
    transition: 0.2s;
}

.dolar {
    position: relative;
    right: 56px;
}
